#twitter-login {
  @include border-radius(4px);
  background: $twitter-button;
  padding: 12px 24px;
  margin: 0px;
}

.no-touch {
  #twitter-login {
    &:hover, &:active, &:focus {
      background: $twitter-button-hover;
    }
  }
}