#twitter-login {
  @include border-radius(4px);
  background: $dark_blue;
  padding: 10px 15px;
  margin: 0px;
}

.no-touch {
  #twitter-login {
    &:hover, &:active, &:focus {
      background: $light_blue;
    }
  }
}