html, body {
  font-family: $nunito;
  font-weight: normal;
  color: $dark_black;
  width: 100%;
  min-width: $app_min_width;
  height: 100%;
  min-height: 480px;
  margin: 0px auto;
  @include _font-size(1);
  background: $lighter_gray;
  @include _breakpoint(phablet) {
    background: $body_background;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include _antialiasing;
  font-family: $nunito;
  font-weight: normal;
  color: $dark_black;
}

p, a, button, span, input {
  @include _antialiasing;
  @include _no-outline;
  font-family: $nunito;
  font-weight: normal;
}

#app-wrapper {
  width: 100%;
  height: 100%;
  min-width: $app_min_width;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
