input[type="text"], input[type="number"] {
  @include border-radius(4px);
  @include box-shadow(none);
  margin: 0px;
  padding: 0px 0px 0px 10px;

  &:hover, &:focus, &:active {
    @include box-shadow(none);
    @include _no-outline;
    border-color: none;
  }
}

input.input-invalid {
  border: 1px solid $dark_red;
}

input.input-valid {
  // border: 1px solid $dark_green;
}