.logout-button {
  @include border-radius(4px);
  background: $dark_gray;
  padding: 12px 24px;
  margin: 0px;
}

.no-touch {
 .logout-button {
    &:hover, &:active, &:focus {
      background: $dark_gray;
    }
  }
}