.wkr-workout-list-header {
  background-color: #FDFFFC;
  border-bottom: 3px solid #BE182D;
  padding: 12px;
}

.wkr-workout-list-header__title {
  display: inline-block;
}

.wkr-workout-list-header__link {
  float: right;
  position: relative;
  top: 3px;
}
