.wkr-workout-item:hover,
.wkr-workout-item:focus,
.wkr-workout-item:active {
  opacity: 0.8;
}

.wkr-workout-item__name {
  text-transform: capitalize;
}

.wkr-workout-item__exercise-count {
  color: #FDFFFC;
  background-color: #011627;
}
