<ul class="bottom-menu-items">
  <li class="bottom-menu-item">
    <i class="bottom-menu-icon fa fa-plus"></i>
  </li>
  <li class="bottom-menu-logo">
  </li>
  <li class="bottom-menu-item">
    <i class="bottom-menu-icon fa fa-user"></i>
  </li>
</ul>