.login-page {
  min-width: $app_min_width;
  max-width: $app_max_width;

  #app-wrapper {
    @include _red_pastel_circular_gradient;
  }

  #flash-message {
    max-width: $app_max_width - 20px;
  }

  .login-app-logo-view {
    @include _vertical_align;
  }

  .workouter-letter-logo {
    background-image: url('../images/workouter-logo-letter.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px auto;
    width: 100px;
    height: 91px;
  }

  .twitter-login-view {
    @include _vertical_align;
    text-align: center;
  }
}
