.profile-page {
  background: $lighter_gray;
  min-width: $app_min_width;
  max-width: $app_max_width;

  #flash-message {
    max-width: $app_max_width - 20px;
  }

  .profile-user-view {
    @include _vertical-align;
  }

  .profile-logout-view {
    @include _vertical-align;
    text-align: center;
  }
}