.profile-page {
  background: $lighter_gray;
  min-width: $app_min_width;
  max-width: $app_max_width;
  position: relative;

  #flash-message {
    max-width: $app_max_width - 20px;
  }

  .go-back-view {
    .fa.fa-chevron-left {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  .user-profile-avatar {
    margin-top: -35px;
  }

  .logout-button {
    margin: 20px 0px;
  }

  .profile-logout-view {
    text-align: center;
  }
}
