.workout-page {
  background: $lighter_gray;
  min-width: $app_min_width;
  max-width: $app_max_width;

  #flash-message {
    max-width: $app_max_width - 20px;
  }

  .delete-workout-view {
    text-align: center;
    margin: 12px 0px 0px;
  }
}