.workouts-page {
  background: $lighter_gray;
  min-width: $app_min_width;
  max-width: $app_max_width;

  #flash-message {
    max-width: $app_max_width - 20px;
  }

  .add-first-workout {
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
  }
}
