.workout-page {
  background: $lighter_gray;
  min-width: $app_min_width;
  max-width: $app_max_width;

  #flash-message {
    max-width: $app_max_width - 20px;
  }

  .workout-view > article.workout {
    background: $lighter_gray;
  }

  .delete-workout-view {
    background: $lighter_gray;
    text-align: center;
    padding: 12px 0px 80px 0px;
  }
}