.workout-add-page {
  background: $lighter_gray;
  min-width: $app_min_width;
  max-width: $app_max_width;

  #flash-message {
    max-width: $app_max_width - 20px;
  }

  .add-workout-header {
    margin: 10px 0px 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light_gray;
  }

  .go-back-view {
    @include grid-column(11);
    margin: 0px auto -43px auto;
    padding: 0px;
    float: none;
    padding-top: 10px;

    @include _breakpoint(phablet) {
      margin: 0px auto -46px auto;
    }
  }

  input[type="text"].add-workout--title {
    margin: 0px auto;
  }

  input[type="text"], input[type="number"] {
    @include grid-column(11);
    margin: 0px auto 12px auto;
    float: none;
  }

  .add-workout--exercises-total {
    @include grid-column(11);
    margin: 10px auto 15px auto;
    float: none;
    padding: 0px;
  }

  #add-exercise {
    display: block;
    margin: 20px auto;
  }

  button.add-workout {
    display: block;
    margin: 10px auto;
  }
}
