#exercises-form-view {
  @include grid-row();
}

.add-workout-exercises {
  text-align: center;
  color: $dark_black;
  margin: 0px;
  padding: 0px;
}

.add-workout--exercises-total {
  color: $dark_gray;
  margin: 0px;
  padding: 0px;
}

#add-exercise {
  @include border-radius(4px);
  background: $dark_green;
  padding: 10px 15px;
  margin: 0px;
}

.no-touch {
  #add-exercise {
    &:hover, &:active, &:focus {
      background: $light_green;
    }
  }
}