.workouter-letter-logo {
  background-image: url('../images/workouter-logo-letter.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px auto;
  width: 100px;
  height: 91px;
}