#bottom-menu-view {
  @include _red_pastel_vertical_gradient;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-width: $app_min_width;
  max-width: $app_max_width;
  height: 60px;
//   @include _breakpoint(phablet) {
//     height: 50px;
//   }
}

.bottom-menu-items {
  margin: 0px;
  text-align: center;
}

.bottom-menu-item {
  @include inline-block;
  list-style: none;
  margin: -35px 0px 0px 50px;

  @include _breakpoint(phablet) {
    margin: -25px 0px 0px 100px;
  }
}

.bottom-menu-item:first-child {
  margin: -35px 50px 0px 0px;

  @include _breakpoint(phablet) {
    margin: -25px 100px 0px 0px;
  }
}

.bottom-menu-icon {
  @include border-radius(100%);
  text-align: center;
  font-size: 22px;
  background-color: #F9F9F9;
  cursor: pointer;
  line-height: 65px;
  width: 65px;
  height: 65px;

  // @include _breakpoint(phablet) {
  //   line-height: 50px;
  //   width: 50px;
  //   height: 50px;
  // }
}

.bottom-menu-logo {
  @include inline-block;
  background-image: url('../images/workouter-logo-letter-small.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 0px -20px;
  width: 38px;
  height: 35px;
}

.bottom-menu-icon.fa-plus {
  color: #51AE61;
}

.bottom-menu-icon.fa-user, .bottom-menu-icon.fa-home {
  color: #4288CC;
}

// hover effects
.no-touch {
  .bottom-menu-item:hover {
    .bottom-menu-icon.fa-plus {
      @include transition(background-color .3s, color .3s);
      background-color: #51AE61;
      color: #F9F9F9;
    }

    .bottom-menu-icon.fa-user, .bottom-menu-icon.fa-home {
      @include transition(background-color .3s, color .3s);
      background-color: #4288CC;
      color: #F9F9F9;
    }
  }
}