.go-back-view {
  i.fa-chevron-left {
    position: relative;
    @include border-radius(100%);
    background-color: $light_gray;
    border: 1px solid $light_gray;
    color: $dark_black;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 29px;
    padding: 0px;
    text-align: center;
    &:before {
      margin-left: -2px;
    }
    @include _breakpoint(phablet) {
      width: 40px;
      height: 40px;
      line-height: 39px;
    }
  }
}

// hover effects
.no-touch {
  .go-back-view:hover {
    i.fa-chevron-left {
      @include transition(all .3s);
      background-color: $dark_gray;
      border: 1px solid $dark_gray;
      color: $light_gray;
    }
  }
}
