.wkr-navigation {
  min-width: 320px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1020;
  width: 100%;
  padding: 12px 0px;
  background-color: #FDFFFC;
  border-top: 3px solid #BE182D;
}

.wkr-navigation__list {
  width: 100%;
  max-width: 480px;
}

a.wkr-navigation__link {
  cursor: pointer;
  color: #161616;
  font-weight: bold;
  padding: 0px 1rem;
}

a.wkr-navigation__link:hover,
a.wkr-navigation__link:active,
a.wkr-navigation__link:focus {
  opacity: 0.8;
}

a.wkr-navigation__link.active {
  color: #161616;
  border-bottom: 2px solid #BE182D;
}

a.wkr-navigation__link.active:hover,
a.wkr-navigation__link.active:active,
a.wkr-navigation__link.active:focus {
  opacity: 1;
}

.wkr-navigation__link-text {
  margin: 0px;
}
