<a class="workout-item-link" href="#workout/{{id}}/exercises">
  <h6 class="workout-item-date">{{# beautify_date }} {{ date }} {{/ beautify_date }}</h6>
  <p class="workout-item-title">{{ title }}</p>
  <i class="workout-item-caret-icon fa fa-caret-right"></i>
</a>