<ul class="user-info">
  <li class="avatar">
    <img src="{{ avatar }}" alt="{{ displayName }}">
  </li>
  <li class="display-name"> {{ displayName }} </li>
  <li class="location"> {{ userLocation }} </li>
</ul>