<ul class="user-container">
  <li>
    <img class="user-avatar" src="{{ avatar }}" alt="{{ displayName }}">
  </li>
  <li>
    <h6 class="user-display-name">{{ displayName }} </h6>
  </li>
  <li>
    <p class="user-location">{{ userLocation }}</p>
  </li>
</ul>