$red_pastel: #f95e59;

$twitter_button: #4099FF;
$twitter_button_hover: #1E85FD;

$lighter_gray: rgb(250, 250, 250);
$light_gray: rgb(239, 239, 239);
$dark_gray: #7b7b7b;


$lighter_black: none;
$light_black: none;
$dark_black: #0d0d0d;