.workout-item {
  position: relative;
  background: $lighter_gray;
  border-bottom: 1px solid $light_gray;
  &:hover {
    @include transition(background-color .3s, color .3s);
    background: $light_gray;
  }
}

.workout-item-link {
  @include inline-block;
  width: 100%;
  height: 100%;
}

.workout-item-date {
  margin: 10px 0px 5px;
  padding-left: 10px;
  color: $dark_black;
}

.workout-item-title {
  margin: 0px 0px 10px;
  padding-left: 20px;
  color: $dark_gray;
  text-transform: capitalize;
}

.workout-item-caret-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
  font-size: 24px;
  color: $dark_gray;

  @include _breakpoint(tablet) {
    right: 15px;
    margin-top: -14px;
    font-size: 28px;
  }
}